* {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0px;
    background: #ebecf0;
    font-size: 20px;
    font-weight: bold;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e6779165;
    background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
  }
  
  header p {
    margin-bottom: 0;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
  }
  .line2 {
    display: block;
    position: fixed;
    top: 25px;
    right: 15px;
  }
  .card-container {
    width: 100%;
    height: 400px;
    background: #ebecf0;
    overflow: hidden;
  }
  .upper-container {
    height: 150px;
    background-color: #e6779165;
    background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  }
  .image-container {
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px, 100px);
  }
  .image-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .lower-container {
    height: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
  }
  .lower-container h3,
  h4 {
    box-sizing: border-box;
    line-height: 0.6;
  }
  .lower-container h4 {
    color: #7f00ff;
    opacity: 0.6;
  }
  .lower-container p {
    color: gray;
    margin-bottom: 30px;
  }
  .lower-container .btn {
    padding: 10px 20px;
    background-color: #e6779165;
    background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
    border: none;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease-in;
    font-size: 20px;
  }
  .lower-container .btn:hover {
    background: transparent;
    color: #7f00ff;
    border: 2px solid #7f00ff;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 500;
    width: 45px;
    height: 45px;
    padding: 5px;
    background: #ebecf0;
    border-radius: 6px;
    border: 0;
  }
  .menuwrap {
    position: fixed;
    top: 0;
    left: -300px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    z-index: 400;
    overflow: auto;
    width: 300px; /* 너비 */
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color: #f0f0f0;
  }
  .menuwrap.on {
    left: 0;
  }
  #dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .category_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .category_list li {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    margin-bottom: 10px;
    background: #f7f7f7;
  }
  .menulist {
    padding: 2vh;
  }

  #load {
    width: 50px;
    height: 50px;
    /* 상하좌우 정중앙 정렬하기 */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* 자식 요소 전체를 중앙 정렬하기 위해, 상단 및 왼쪽 margin을 마이너스 값으로 적용하기 */
  }
  .media-box{
    margin: 25px;
    border: 1px solid black;
    background-color: white;
  }
  #video {
    width: 100%;
    height: 100%;
  }
  #media {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #streamerform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px;
    margin-bottom:60px;
  }
  .live-list-image-box{
    background-color: white;
  }