* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0px;
  background: #ebecf0;
  font-size: 20px;
  font-weight: bold;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
}

header p {
  margin-bottom: 0;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
}
.line2 {
  display: block;
  position: fixed;
  top: 25px;
  right: 15px;
}
.card-container {
  width: 100%;
  height: 400px;
  background: #ebecf0;
  overflow: hidden;
}
.upper-container {
  height: 150px;
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
}
.image-container {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px, 100px);
}
.image-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lower-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
}
.lower-container h4 {
  color: #7f00ff;
  opacity: 0.6;
}
.lower-container p {
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn {
  padding: 10px 20px;
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  border: none;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 20px;
}
.lower-container .btn:hover {
  background: transparent;
  color: #7f00ff;
  border: 2px solid #7f00ff;
}
.mobile-menu {
  display: block;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 500;
  width: 45px;
  height: 45px;
  padding: 5px;
  background: #ebecf0;
  border-radius: 6px;
  border: 0;
}
.menuwrap {
  position: fixed;
  top: 0;
  left: -300px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
  z-index: 400;
  overflow: auto;
  width: 300px; /* 너비 */
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
  background-color: #f0f0f0;
}
.menuwrap.on {
  left: 0;
}
#dimmed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.category_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.category_list li {
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  margin-bottom: 10px;
  background: #f7f7f7;
}
.menulist {
  padding: 2vh;
}
a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  text-align: center;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#logout {
  font-size: 20px;
  width: 100%;
  height: 10%;
  border: 0;
  outline: none;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
#logout:hover {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.iconnone {
  display: none;
}

p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

select {
  background: #eee;
  padding: 10px;
  margin-left: 8px;
  width: 25%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
#searchText {
  background: #eee;
  padding: 10px;
  margin-left: 8px;
  width: 40%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
select:hover {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

input[type='text'] {
  width: 45%;
}

input[type='button'] {
  width: 15%;
  padding: 10px;
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;

  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
input[type='button']:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.live-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.live-list-image-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* 배경색 설정, 필요에 따라 변경 가능 */
}


.live-list-image{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.stream-info {
  margin-left : 18px;
  text-align: left;
  font-size: small;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stream-info h2 {
  margin-bottom: 8px;
  font-size: small;
  text-align: left;
}

.stream-info p {
  margin: 0;
  text-align: left;
}

th,
td {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  color: white;
}

tr:hover {
  background-color: #f5f5f5;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 8px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pagination a.active {
  background-color: #e6779165;
  background-image: linear-gradient(to bottom right, #e6779165, #82bbf8);
  color: white;
}
